body {

    > section.container {

        > h1 {
            color: saddlebrown;
        }

        > p {
            color: brown;

            &.some-fixed-position {
                position: fixed;
                bottom: 15px;
                right: 50px;
            }
        }

    }

}