body {

    > section.container {

        > h1 {
            color: saddlebrown;
        }

        > p {
            color: brown;

            &.margin-top {
                margin-top: 30px;
            }
        }

    }

}